$def with (fn)

<b>database.html</b>
<table border="1" cellpadding="5">
    <tr>
        <th>first</th>
        <th>name</th>
    </tr>
$for f in fn:
    <tr>
        <td>$f["first"]</td>
        <td>$f["name"]</td>
    </tr>
</table>
